* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  height: 64px;
  background-color: #2196F3;
  margin-bottom: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);

}

.nav-items {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.header button { 
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  border: 0;
  outline: none; 
  height: 64px;
  text-decoration: none;
  padding: 23px;
  display: block;
  color: #fff;
  background-color:  #2196F3;
}
.header button:hover {
  background: #1E88E5;
}

button.active {
  background-color: #1E88E5;
}

.cat-cards {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 48px;
  list-style-type: none;
  justify-items: center;

}
.cat-card {
  width: 225px;
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heart-img {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
  cursor:pointer;
  display: none;
  outline: none;
  border: none;
}

.cat-card:hover {
  transition-duration: 0.5s;
  transform: scale(1.142, 1.142);
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.cat-card:hover .heart-img{ 
  display:block; 
}

.unlike:hover {
  background-image: url("./assets/heart_hover.svg");
}

.unlike {
  background:url("./assets/heart.svg") no-repeat;
}

.like {
  background:url("./assets/heart_clicked.svg") no-repeat;
}




